* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  width: 800px;
  margin: auto;
}

/* start sidebar */
aside {
  background-color: #f7f7f7;
  font-weight: bold;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px;
  width: 500px;
}

aside h2 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

aside ul {
  list-style-type: none;
}

aside a:link {
  color: #1098ad;
  text-decoration: none;
}

aside p {
  margin-bottom: 15px;
}
/* end sidebar */
