* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin: 0;
  border-top: 10px solid #1098ad;
}

.container {
  width: 800px;
  margin: auto;
} 

/* start sidebar */
aside {
  background-color: #f7f7f7;
  font-weight: bold;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px;
  width: 500px;
}

aside h2 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

aside ul {
  list-style-type: none;
}

aside a:link {
  color: #1098ad;
  text-decoration: none;
}

aside p {
  margin-bottom: 15px;
}
/* end sidebar */

.navbar {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 14px;
    padding: 20px 40px;
    background: #f7f7f7;
   
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}


.logo-area h1 {
    font-size: 20px;
    color: #1098ad;
    font-weight: bold;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #1098ad;
    margin: 0 15px;
    font-size: 15px;
}

.nav-links a:first-child{
    margin: 0;
}

.nav-links a:hover {
    color: #0077aa;
}